@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
     margin: 0;
     padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{

     width: 33%;

}

.navbar{
      display: flex;
      align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;


}

 .nav-list{
    width: 50%;
    background-color:;
    display: flex;
    align-items: center;

 }

 .nav-list li{
     list-style: none;
     padding: 23px 30px;

 }

 .nav-list li a{
    text-decoration: none;
    color: white;
 }

.nav-list li a:hover{
        text-decoration: none;
        color: grey;


 }

.rightNav{
    background-color:;
    width: 50%;
    text-align:right;
    padding: 0 23px;
    
 }

 #search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;


 }
 .background{
   background: rgb(20, 0, 0) url('F:/haadi2.jpg');
   background-size: cover;
   background-blend-mode: darken;
 }

.firstSection{
   height: 100vh;
}


 .box-main{
   display: flex;
   justify-self: center;
   align-items: center;
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   max-width: 50%;
   margin: auto;
   height: 73%;
 }
 .firstHalf{
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
 }

 .secondHalf{
    width: 50%;

 }

 .secondHalf img{
    width: 70%;
    border-radius: 91px;
    border: 4px solid white;
    display: block;
    margin: auto;
 }

 .text-big{
   font-size: 41px;
    
 }

 .text-small{
   font-size: 16px;

 }
 .btn{
   padding: 5px 7px;
    margin: 7px 3px;
    border: 2px;
    border-radius: 8px;
    cursor: pointer;
    
 }
 .btn-sm{
   padding: 5px 10px;
   vertical-align: middle;
   
}
.section{
   
   height: 500px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   max-width: 80%;
   margin: auto;
   font-family: 'Ubuntu', sans-serif;
   
}
.section-left{

   flex-direction: row-reverse;
   
}
.paras{
   padding: 0 65px
}
.sectionSubTag{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}














